BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignOperands: true
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
Standard: c++17
